name: Autoupdate
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
  workflow_call:
concurrency:
  group: "${{ github.workflow }} @ ${{ github.ref }}"
  cancel-in-progress: false
permissions:
  id-token: write
  contents: write
jobs:
  update:
    env:
      STRIPE_TEST_PK: ${{ secrets.STRIPE_TEST_PK }}
      STRIPE_TEST_SK: ${{ secrets.STRIPE_TEST_SK }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      updated: ${{ steps.autoupdate.outputs.updated }}
      version: ${{ steps.autoupdate.outputs.version }}
    steps:
      - name: Ð¡heckout repo
        id: checkout_repo
        uses: actions/checkout@v5
        with:
          path: "tmp"
          ref: "main"
      - name: Autoupdate
        id: autoupdate
        uses: siarheidudko/autoupdater@v6
        with:
          author-email: "slavianich@gmail.com"
          author-name: "Siarhei Dudko"
          working-directory: ${{ github.workspace }}/tmp
          ref: ${{ github.repository }}
          branch: "main"
          builds-and-checks: |
            npm run build
            npm test
          debug: "false"
  deploy:
    needs: update
    if: needs.update.outputs.updated == 'true'
    uses: ./.github/workflows/build-and-deploy.yml
    with:
      tag: ${{ needs.update.outputs.version }}
    secrets: inherit
